.header_text {
  @media (min-width: 600px) {
    display: none;
  }
}
div.realEstate-header-content__btn {
  @media (min-width: 899px) {
    margin-left: 15rem!important;
  }

  @media (min-width: 660px) and (max-width: 888px) {
    margin-left: 10rem!important;
  }
}

@include for-tablet-portrait-up {
  div.realty__innerWrap {
    // height: unset !important;
    flex-direction: column;

    @include for-tablet-landscape-up {
      flex-direction: row;
    }
  }
}

@media only screen and (max-width: $break) {

  div.realty__innerWrap {
    @include for-ipad-breakpoint {
      height: fit-content;
    }

    @include for-phone-only {
      @include flexColumn;
      height: unset !important;
    }

    @include for-phone-only {
      @include flexColumn;
      height: unset !important;
    }

    @include for-ipad-breakpoint {
      height: fit-content;
    }

  }

  div.realty__content {
    width: 50%;

    @include for-small-tablet-portrait-only {
      & {
        // border: 1px solid orange;
        width: 90%;
        padding: 0;
        margin: 0 auto;
      }
    }

    @include for-tablet-portrait-only {
      & {
        // border: 1px solid orange;
        width: 90%;
        padding: 0;
        margin: 0 auto;
      }
    }
  }

}

@media only screen and (max-device-height: 375px) and (orientation: landscape) {
  div.realty__innerWrap {
    // height: 412.5px;
    height: 100%;
  }
}

@media only screen and (max-device-height: 2559px) and (orientation: landscape) {
  div.realty__innerWrap {
    height: 100%;
  }
}

@media (max-width: 220px) {
  & div.realty__content {
    z-index: 99;
    margin-block-start: -35px;
    // margin-bottom: 0!important;
  }
}

// REALTY RESPONSIVENESS
.realEstate-midD {
  @media (max-width: 899px) {
    display: flex;
  }
  @media (min-width: 900px) {
    display: none!important;
  }
  @include for-tablet-landscape-only {
    display: flex;
    flex-direction: column;
    height: auto;
    // margin-bottom: 30rem;

    & header {
      height: 100vh;
      width: 100vw;

      &.realEstate_header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-image: url("../images/REALTY/mobile/drawable-xhdpi/Group599.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;

        @include for-tablet-portrait-only {
          background-image: url("../images/REALTY/mobile/drawable-xxhdpi/899.png");
        }

        // @include for-xsmall-phones {
        //   background-image: url("../images/REALTY/mobile/drawable-ldpi/Group11_mod.png");
        //   background-size: 100% 100%;
        //   background-repeat: no-repeat;
        // }
      }

      & nav.realEstate-navbar {
        height: 10vh;
        border: 1px solid black;
       
      }

      & section.realEstate-header_section {
        height: 90vh;
        padding: 14rem 0 0 0;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        width: 100%;

        & div.svg-Mobile-header_top {
          background-image: url("../images/REALTY/mobile/drawable-mdpi/Group3.png");
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          top: 10rem;
          right: 0;
          width: 6.875rem;
          height: 5.625rem;

          @media (min-width: 899px) {
            right: 5rem;
          }

          @include for-phone-only--modified {
            top: 7rem;
          }
        }

        & #realEstate-header-content__btn {
          position: absolute;
          bottom: 8rem;
          right: 0;
          left: unset;
          display: block;

         

          @media  (min-width: 321px) {
            display: none;
          }
        }

        
      }

      & div.realEstate-header-content {
        @media (min-width: 899px) {
          padding-left: 15rem;
        }
        @include for-small-tablet-portrait-only {
          padding-left: 15vw;
        }
        display: flex;
        flex-direction: column;
        // justify-content: center;
        height: 55vh;
        border: 1px solid deepskyblue;
        position: relative;
        width: auto;
        // margin: 0 4rem;
        // padding-left: 8rem;
        // margin-right: 4rem;
        margin: 0 4rem;
        padding-top: 10rem;
       
        & div.svg-Mobile-header_bottom {
          background-image: url("../images/REALTY/mobile/drawable-mdpi/Group2.png");
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          bottom: -2rem;
          left: 0;
          width: 6.875rem;
          height: 5.625rem;

          @media (min-width: 899px) {
            bottom: .5rem
          }

          @include for-phone-only--modified  {
            left: unset;
            bottom: -5rem;
          }

          @media (max-width: 480px) {
            left: 5rem;
            bottom: -3rem;
          }

          @media (max-width: 385px) {
            left: 7rem;
            bottom: -7rem;
          }
        }
      }

      & div.realEstate-header-content__title {
        border: 1px solid greenyellow;
        font-size: 4.75rem;
        font-family: "GT Super Ds Trial Bd";
        font-weight: bold;
        text-transform: uppercase;
        margin-block-start: 0;
        margin-block-end: 0;

        & h1 {
          font-size: inherit;
          color: $white;
          font-family: inherit;
          font-weight: inherit;
          text-transform: inherit;
          margin-block-end: 0;
          margin-block-start: inherit;
        }
      }

      & div.realEstate-header-content__text {
        border: 1px solid greenyellow;
        margin-top: 3rem;
        width: fit-content;

        & p {
          font-size: 2.3rem;
          font-family: "Ginto regular";
          color: $white;
          margin-block-start: 0;
          font-weight: normal;
          font-style: normal;
          font-display: swap;

          @media (min-width: 900px) {
            width: 60%;
          }

          @include for-tablet-landscape-only {
            width: 60%;
          }
          
          @include for-tablet-portrait-only {
            width: calc(450px + (500 - 450) * (100vw - 600px) / (899 - 600));
          }

          @media (max-width: 400px) {
            font-size: 2.2rem;
          }
        }
      }

      & div.realEstate-header-content__btn {
        border: 1px solid greenyellow;
        position: absolute;
        bottom: 5rem;
        left: 0;
        margin-left: 8rem;

        @media (min-width: 899px) {
          bottom: 10rem;
        }

        @include for-small-tablet-portrait-only {
          margin-left: 15vw;
        }

        @media (max-width: 480px) {
          bottom: 0;
          left: 0;
          right: 0;
        left: unset;
        bottom: 0;
        }

        @media (max-width: 385px) {
          bottom: -5rem;
          left: 4rem;
        }

        @media (max-width: 320px) {
          display: none;
        }
      }
    }
  }
  @include for-tablet-portrait-only {
    display: flex;
    flex-direction: column;
    height: auto;
    // margin-bottom: 30rem;

    & header {
      height: 100vh;
      width: 100vw;

      &.realEstate_header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-image: url("../images/REALTY/mobile/drawable-xhdpi/Group599.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;

        @include for-tablet-portrait-only {
          background-image: url("../images/REALTY/mobile/drawable-xxhdpi/899.png");
        }

        // @include for-xsmall-phones {
        //   background-image: url("../images/REALTY/mobile/drawable-ldpi/Group11_mod.png");
        //   background-size: 100% 100%;
        //   background-repeat: no-repeat;
        // }
      }

      & nav.realEstate-navbar {
        height: 10vh;
        border: 1px solid black;
      }

      & section.realEstate-header_section {
        height: 90vh;
        padding: 14rem 0 0 0;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        width: 100%;

        & div.svg-Mobile-header_top {
          background-image: url("../images/REALTY/mobile/drawable-mdpi/Group3.png");
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          top: 10rem;
          right: 0;
          width: 6.875rem;
          height: 5.625rem;

          @media (min-width: 899px) {
            right: 5rem;
          }

          @include for-phone-only--modified {
            top: 7rem;
          }
        }

        & #realEstate-header-content__btn {
          position: absolute;
          bottom: 8rem;
          right: 0;
          left: unset;
          display: block;

         

          @media  (min-width: 321px) {
            display: none;
          }
        }

        
      }

      & div.realEstate-header-content {
        @media (min-width: 899px) {
          padding-left: 15rem;
        }
        @include for-small-tablet-portrait-only {
          padding-left: 15vw;
        }
        display: flex;
        flex-direction: column;
        // justify-content: center;
        height: 55vh;
        border: 1px solid deepskyblue;
        position: relative;
        width: auto;
        // margin: 0 4rem;
        // padding-left: 8rem;
        // margin-right: 4rem;
        margin: 0 4rem;
        padding-top: 10rem;

        & div.svg-Mobile-header_bottom {
          background-image: url("../images/REALTY/mobile/drawable-mdpi/Group2.png");
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          bottom: -2rem;
          left: 0;
          width: 6.875rem;
          height: 5.625rem;

          @media (min-width: 899px) {
            bottom: .5rem
          }

          @include for-phone-only--modified  {
            left: unset;
            bottom: -5rem;
          }

          @media (max-width: 480px) {
            left: 5rem;
            bottom: -3rem;
          }

          @media (max-width: 385px) {
            left: 7rem;
            bottom: -7rem;
          }
        }
      }

      & div.realEstate-header-content__title {
        border: 1px solid greenyellow;
        font-size: 4.75rem;
        font-family: "GT Super Ds Trial Bd";
        font-weight: bold;
        text-transform: uppercase;
        margin-block-start: 0;
        margin-block-end: 0;

        & h1 {
          font-size: inherit;
          color: $white;
          font-family: inherit;
          font-weight: inherit;
          text-transform: inherit;
          margin-block-end: 0;
          margin-block-start: inherit;
        }
      }

      & div.realEstate-header-content__text {
        border: 1px solid greenyellow;
        margin-top: 3rem;
        width: fit-content;

        & p {
          font-size: 2.3rem;
          font-family: "Ginto regular";
          color: $white;
          margin-block-start: 0;
          font-weight: normal;
          font-style: normal;
          font-display: swap;
          
          @include for-tablet-portrait-only {
            width: calc(450px + (500 - 450) * (100vw - 600px) / (899 - 600));
          }

          @media (max-width: 400px) {
            font-size: 2.2rem;
          }
        }
      }

      & div.realEstate-header-content__btn {
        border: 1px solid greenyellow;
        position: absolute;
        bottom: 5rem;
        left: 0;
        margin-left: 8rem;
        

        @media (min-width: 899px) {
          bottom: 10rem;
        }

        @include for-small-tablet-portrait-only {
          margin-left: 15vw;
        }

        @media (max-width: 480px) {
          bottom: 0;
          left: 0;
          right: 0;
        left: unset;
        bottom: 0;
        }

        @media (max-width: 385px) {
          bottom: -5rem;
          left: 4rem;
        }

        @media (max-width: 320px) {
          display: none;
        }
      }
    }
  }
 @include for-small-tablet-portrait-only {
    display: flex;
    flex-direction: column;
    height: auto;
    // margin-bottom: 30rem;

    & header {
      height: 100vh;
      width: 100vw;

      &.realEstate_header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-image: url("../images/REALTY/mobile/drawable-xhdpi/Group599.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;

        // @include for-xsmall-phones {
        //   background-image: url("../images/REALTY/mobile/drawable-ldpi/Group11_mod.png");
        //   background-size: 100% 100%;
        //   background-repeat: no-repeat;
        // }
      }

      & nav.realEstate-navbar {
        height: 10vh;
        border: 1px solid black;
      }

      & section.realEstate-header_section {
        height: 90vh;
        padding: 14rem 0 0 0;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        width: 100%;

        & div.svg-Mobile-header_top {
          background-image: url("../images/REALTY/mobile/drawable-mdpi/Group3.png");
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          top: 10rem;
          right: 0;
          width: 6.875rem;
          height: 5.625rem;

          @include for-phone-only--modified {
            top: 7rem;
          }
        }

        & #realEstate-header-content__btn {
          position: absolute;
          bottom: 8rem;
          right: 0;
          left: unset;
          display: block;

         

          @media  (min-width: 321px) {
            display: none;
          }
        }

        
      }

      & div.realEstate-header-content {
        @media (min-width: 899px) {
          padding-left: 15rem;
        }
        @include for-small-tablet-portrait-only {
          padding-left: 15vw;
        }
        display: flex;
        flex-direction: column;
        // justify-content: center;
        height: 55vh;
        border: 1px solid deepskyblue;
        position: relative;
        width: auto;
        // margin: 0 4rem;
        // padding-left: 8rem;
        // margin-right: 4rem;
        margin: 0 4rem;
        padding-top: 10rem;

        & div.svg-Mobile-header_bottom {
          background-image: url("../images/REALTY/mobile/drawable-mdpi/Group2.png");
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          bottom: -2rem;
          left: 0;
          width: 6.875rem;
          height: 5.625rem;

          @include for-phone-only--modified  {
            left: unset;
            bottom: -5rem;
          }

          @media (max-width: 480px) {
            left: 5rem;
            bottom: -3rem;
          }

          @media (max-width: 385px) {
            left: 7rem;
            bottom: -7rem;
          }
        }
      }

      & div.realEstate-header-content__title {
        border: 1px solid greenyellow;
        font-size: 4.75rem;
        font-family: "GT Super Ds Trial Bd";
        font-weight: bold;
        text-transform: uppercase;
        margin-block-start: 0;
        margin-block-end: 0;

        & h1 {
          font-size: inherit;
          color: $white;
          font-family: inherit;
          font-weight: inherit;
          text-transform: inherit;
          margin-block-end: 0;
          margin-block-start: inherit;
        }
      }

      & div.realEstate-header-content__text {
        border: 1px solid greenyellow;
        margin-top: 3rem;

        & p {
          font-size: 2.3rem;
          font-family: "Ginto regular";
          color: $white;
          margin-block-start: 0;
          font-weight: normal;
          font-style: normal;
          font-display: swap;

          @media (max-width: 400px) {
            font-size: 2.2rem;
          }
        }
      }

      & div.realEstate-header-content__btn {
        border: 1px solid greenyellow;
        position: absolute;
        bottom: 5rem;
        left: 0;
        margin-left: 8rem;
        

        
        @include for-small-tablet-portrait-only {
          margin-left: 15vw;
        }

        @media (max-width: 480px) {
          bottom: 0;
          left: 0;
        }

        @media (max-width: 385px) {
          bottom: -5rem;
          left: 4rem;
        }

        @media (max-width: 320px) {
          display: none;
        }
      }
    }
 }
  @include for-phone-only {
    display: flex;
    flex-direction: column;
    height: auto;
    // margin-bottom: 30rem;

    & header {
      height: 100vh;
      width: 100vw;

      &.realEstate_header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-image: url("../images/REALTY/mobile/drawable-xhdpi/Group599.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;

        // @include for-xsmall-phones {
        //   background-image: url("../images/REALTY/mobile/drawable-ldpi/Group11_mod.png");
        //   background-size: 100% 100%;
        //   background-repeat: no-repeat;
        // }
      }

      & nav.realEstate-navbar {
        height: 10vh;
        border: 1px solid black;
      }

      & section.realEstate-header_section {
        height: 90vh;
        padding: 14rem 0 0 0;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        width: 100%;

        & div.svg-Mobile-header_top {
          background-image: url("../images/REALTY/mobile/drawable-mdpi/Group3.png");
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          top: 11rem;
          right: 0;
          width: 6.875rem;
          height: 5.625rem;

          @include for-phone-only--modified {
            top: 7rem;
          }
        }

        & #realEstate-header-content__btn {
          position: absolute;
          bottom: 8rem;
          right: 0;
          left: unset;
          display: block;

         

          @media  (min-width: 321px) {
            display: none;
          }
        }

        
      }

      & div.realEstate-header-content {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        height: 55vh;
        border: 1px solid deepskyblue;
        position: relative;
        width: auto;
        // margin: 0 4rem;
        @include for-small-tablet-portrait-only {
          padding-left: 15vw;
        }
        // padding-left: 8rem;
        // margin-right: 4rem;
        margin: 0 4rem;
        padding-top: 10rem;

        

        & div.svg-Mobile-header_bottom {
          background-image: url("../images/REALTY/mobile/drawable-mdpi/Group2.png");
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          bottom: -2rem;
          left: 0;
          width: 6.875rem;
          height: 5.625rem;

          @include for-phone-only--modified  {
            left: unset;
            bottom: -5rem;
          }

          @media (max-width: 480px) {
            left: 5rem;
            bottom: -3rem;
          }

          @media (max-width: 385px) {
            left: 7rem;
            bottom: -7rem;
          }
        }
      }

      & div.realEstate-header-content__title {
        border: 1px solid greenyellow;
        font-size: 4.75rem;
        font-family: "GT Super Ds Trial Bd";
        font-weight: bold;
        text-transform: uppercase;
        margin-block-start: 0;
        margin-block-end: 0;

        & h1 {
          font-size: inherit;
          color: $white;
          font-family: inherit;
          font-weight: inherit;
          text-transform: inherit;
          margin-block-end: 0;
          margin-block-start: inherit;
        }
      }

      & div.realEstate-header-content__text {
        border: 1px solid greenyellow;
        margin-top: 3rem;

        & p {
          font-size: 2.3rem;
          font-family: "Ginto regular";
          color: $white;
          margin-block-start: 0;
          font-weight: normal;
          font-style: normal;
          font-display: swap;

          @media (max-width: 400px) {
            font-size: 2.2rem;
          }
        }
      }

      & div.realEstate-header-content__btn {
        border: 1px solid greenyellow;
        position: absolute;
        bottom: 5rem;
        left: 0;
        margin-left: 8rem;

        @media (max-width: 480px) {
          bottom: 0;
          left: 0;
          right: 0;
        left: unset;
        bottom: 0;
        }

        @media (max-width: 385px) {
          bottom: -5rem;
          left: 4rem;
          right: 0;
          left: unset;
          bottom: 0;
        }

        @media (max-width: 320px) {
          display: none;
        }
      }
    }
  }

  @include equip {
    display: flex;
    flex-direction: column;
    height: auto;
    // margin-bottom: 30rem;

    & header {
      height: 100vh;
      width: 100vw;

      &.realEstate_header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-image: url("../images/REALTY/mobile/drawable-mdpi/Group11.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;

        @include for-xsmall-phones {
          background-image: url("../images/REALTY/mobile/drawable-ldpi/Group11_mod.png");
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
      }

      & nav.realEstate-navbar {
        height: 10vh;
        border: 1px solid black;
        padding-top: 1.4rem;
      }

      & section.realEstate-header_section {
        height: 90vh;
        padding: 14rem 0 0 0;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        width: 100%;

        & div.svg-Mobile-header_top {
          background-image: url("../images/REALTY/mobile/drawable-mdpi/Group3.png");
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          top: 11.5rem;
          right: 0;
          width: 6.875rem;
          height: 5.625rem;
        }

        & #realEstate-header-content__btn {
          position: absolute;
          bottom: 8rem;
          right: 0;
          left: unset;
          display: block;
          @media  (min-width: 321px) {
            display: none;
          }
        }

        
      }

      & div.realEstate-header-content {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        height: 55vh;
        border: 1px solid deepskyblue;
        position: relative;
        width: auto;
        margin: 0 4rem;
        padding-top: 10rem;


        & div.svg-Mobile-header_bottom {
          background-image: url("../images/REALTY/mobile/drawable-mdpi/Group2.png");
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          bottom: -8rem;
          left: 0;
          width: 6.875rem;
          height: 5.625rem;
        }
      }

      & div.realEstate-header-content__title {
        border: 1px solid greenyellow;
        font-size: 3.75rem;
        font-family: "GT Super Ds Trial Bd";
        font-weight: bold;
        text-transform: uppercase;
        margin-block-start: 0;
        margin-block-end: 0;

        & h1 {
          font-size: inherit;
          color: $white;
          font-family: inherit;
          font-weight: inherit;
          text-transform: inherit;
          margin-block-end: 0;
          margin-block-start: inherit;
        }
      }

      & div.realEstate-header-content__text {
        border: 1px solid greenyellow;
        margin-top: 3rem;

        & p {
          font-size: 2rem;
          font-family: "Ginto regular";
          color: $white;
          margin-block-start: 0;
          font-weight: normal;
          font-style: normal;
          font-display: swap;
        }
      }

      & div.realEstate-header-content__btn {
        border: 1px solid greenyellow;
        position: absolute;
        bottom: 8rem;
        left: 0;
        right: 0;
        left: unset;
        bottom: 0;



        @media (max-width: 320px) {
          display: none;
        }
      }
    }
  }
}

 main.realEstate-about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: center;
  padding: 9.5rem 0 0 0;

  & section.realEstate-title {
    display: flex;
    flex-direction: row;
    

    & div.realEstate-title_wrap {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: fit-content;
      justify-content: center;
      justify-items: center;

      & div.realEstate-subTitle {
        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: center;

        
        
        @include for-tablet-portrait-only {
          width: 60%;
          align-self: center;
        }

        & span {
          color: $blue;
          font-family: "Ginto bold";
          font-weight: bold;
          text-transform: capitalize;
          font-size: 2rem;
        }
      }

      & div.realEstate-title {
        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 4.5rem;

        @media (min-width: 900px) {
          width: 60%;
          margin: 0 auto;
        }

        
        
        @include for-tablet-portrait-only {
          width: 60%;
          margin: 0 auto;
        }



        & h1 {
          color: $bluesolid;
          text-transform: capitalize;
          font-size: $large-body-copy;
          font-family: "GT Super Ds Trial Bd";
          font-weight: bold;
        }

        & h1.realEstate-title_invest {
          color: $bluesolid;
          text-transform: uppercase;
          text-align: center;
          font-family: "GT Super Ds Trial Bd";
          font-weight: bold;

         

          // @include for-phone-only {
          //   margin-block-end: 0;
          // }
        }

      }
    }

  }

  & section.realEstate-image {
    margin: 0 4.5rem;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;

    @include for-phone-only {
      margin: 0 auto 0;
      position: relative;
      height: calc(240px + (320 - 240) * (100vw - 449px) / (599 - 449));
      display: flex;
      /* justify-content: center; */
      width: 90%;
      align-self: center;
      justify-content: unset;
    }


    & div.mobile_one {
      width: 80vw;
      height: 26.25rem;

      @include for-tablet-portrait-only {
        width: calc(462px + (692.22 - 462) * (100vw - 600px) / (899 - 600));
        height: 470px;
      }

      @include for-small-tablet-portrait-only { 
        height: 230px;
      }

      @include for-small-tablet-portrait-only {
        & img {
          object-fit: cover !important;
        }
      }

      @include for-phone-only {
        width: 100%;
        height: calc(240px + (320 - 240) * (100vw - 449px) / (599 - 449));
      }

      @include for-xsmall-phones {

      }

      & img {
        object-fit: contain !important;

        @include for-small-tablet-portrait-only {
          
            object-fit: cover !important;
          
        }
      }
    }

    & #svg-Mobile-about_left {
      bottom: 1.4rem !important;

      @media (min-width: 900px) {
        left: 5.3rem;
      }

      @include for-tablet-portrait-only {
        left: 5.3rem;
      }
    }

    & div.svg-Mobile-about_left {
      background-image: url("../images/REALTY/mobile/drawable-mdpi/Group2.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 6.875rem;
      height: 10.625rem;
      position: absolute;
      top: -1.4rem;
      left: -1.4rem;

      @media (min-width: 900px) {
        top: 0.6rem;
        left: 6rem;
      }

      @include for-tablet-portrait-only {
        top: 0.6rem;
        left: 6rem;
      }
      @include for-phone-only {
        top: -0.5rem;
        left: -1.4rem;
      }
    }

    & div.svg-Mobile-about_right {
      background-image: url("../images/REALTY/mobile/drawable-mdpi/Group2.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 6.875rem;
      height: 10.625rem;
      position: absolute;
      top: 4.5rem;
      right: -1.4rem;

      @media (min-width: 900px) {
        bottom: 5rem;
        top: unset;
        right: 5rem;
      }  
      
      @include for-tablet-portrait-only {
        bottom: 5rem;
        top: unset;
        right: 5rem;
      }
      @include for-phone-only {
        bottom: 0.5rem;
        right: -1.4rem;
        top: unset;
      }
    }
  }

  & section.realEstate-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 4.5rem;
    margin-bottom: 5rem;

    & div.realEstate-content_wrap {
      display: flex;
      flex-direction: row;
      justify-items: center;
      justify-content: center;

      & div.realEstate-content_text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;

        @include for-tablet-portrait-only {
          width: 70%;
          justify-self: center;
        }

        & div.realEstate-content_icon {
          display: flex;
          flex-direction: row;

          & span {
            margin-left: 0;
            // margin-top: 1em;
            line-height: 57px;
          }
        }

        & p {
          color: $dark;
          font-family: "Ginto regular";
          font-weight: 400;
          font-size: $base-font-size;
          padding-left: 1em;
        }

        & p:first-child {
          margin-block-end: 0;
        }
      }
    }

    & div.realEstate-content_btn {
      display: flex;
      flex-direction: row;
      justify-content: center;

      @include for-phone-only {
        margin-top: 4.875rem;
      }

      & div.realEstate-content_btn-left {
        width: fit-content;
      }

      & div.realEstate-content_btn-right {
        width: fit-content;
        margin-top: 1.5rem;
      }
    }

    & .realEstate-content-typo {
      display: flex;
      flex-direction: column;
      margin-top: 8rem;

      & .realEstate-conent_content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        & .realEsate-content__svg {
          display: flex;
          flex-direction: column;
          margin-right: 0.5rem;
        }

        & .realEstate-content-sub_heading {
          display: flex;
          flex-direction: row;

          & #realEstate-verticle_line {
            border-left: 4px solid $bluesolid;
            height: 40px;
          }

          & .realEstate-content-sub_heading--text {
            display: flex;
            flex-direction: row;
            width: fit-content;
            padding-left: 1em;

            & h3 {
              font-size: 2.80rem;
              color: $bluesolid;
              font-family: "GT Super Ds Trial Bd";
              font-weight: bold;
              margin-block-start: 0;
            }
          }
        }
      }
    }

    & div.realEstate-invest__services {
      display: flex;
      flex-direction: column;
      margin-top: 3.5rem;

      & div.reaalEstate-invest_content {
        display: flex;
        flex-direction: row;
        justify-content: center;



        & .realEstate-invest__item-Wrap {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: min-content;
          /* position: absolute; */
          top: 0;
          min-width: 57vw;

          @media (min-width: 900px) {
           min-width: unset;
          }  

          @include  for-tablet-portrait-only {
            min-width: unset;
          }


          @include for-tablet-portrait-only {
            min-width: unset;
          }

          @include for-small-tablet-portrait-only {
            min-width: 50vw;
          }

          @include for-phone-only { 
            min-width: 50vw;
          }


          & div.realEstate-invest__item {
            display: flex;
            flex-direction: column;
            background-color: $white;
            align-items: center;
            margin-bottom: 2.5rem;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
            filter: drop-shadow(2px 4px 6px black);
            width: 50vw;
            height: 210px;

            @media (min-width: 900px) {
              width: 50vw;
            }  

            @include  for-tablet-portrait-only {
              width: 40vw;
              height: 220px;
            }

            @include for-small-tablet-portrait-only {
              width: 50vw;
              height: 230px;
            }

            @include for-phone-only { 
              width: 50vw;
              height: 220px;
            }

            & div.realEstate-invest__item-image--prop {
              background-size: 100% 100%;
              background-repeat: no-repeat;
              width: 100%;
              height: 130px;
              margin-bottom: .5em;
              clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
              @include  for-tablet-portrait-only {
                height: 140px;
              }
  
              @include for-small-tablet-portrait-only {
                height: 150px;
              }
              @include for-phone-only { 
                height: 140px;
              }
              // @include xxxsmall-mobile {
              //   width: 150px;
              // }

              // @media (max-width: 250px) {
              //   width: 100px;
              // }

              &.realEstate-invest__item-image-one {
                background-image: url("../images/REALTY/item1.jpg");
              }

              &.realEstate-invest__item-image-two {
                background-image: url("../images/REALTY/Property-acquisition.jpg");
              }

              &.realEstate-invest__item-image-three {
                background-image: url("../images/REALTY/item1a.jpg");
              }

              &.realEstate-invest__item-image-four {
                background-image: url("../images/REALTY/item3.jpg");
              }

              &.realEstate-invest__item-image-five {
                background-image: url("../images/REALTY/item4.jpg");
              }

              &.realEstate-invest__item-image-six {
                background-image: url("../images/REALTY/item5.jpg");
              }

              // PROPERTY

              &.realEstate-invest__item-image-one_b {
                background-image: url("../images/REALTY/ads.jpg");
              }

              &.realEstate-invest__item-image-two_b {
                background-image: url("../images/REALTY/tenant-screening-services.gif");
              }

              &.realEstate-invest__item-image-three_b {
                background-image: url("../images/REALTY/lease-agreement.jpg");
              }

              &.realEstate-invest__item-image-four_b {
                background-image: url("../images/REALTY/move-in.jpg");
              }

              &.realEstate-invest__item-image-five_b {
                background-image: url("../images/REALTY/payment.jpg");
              }

              &.realEstate-invest__item-image-six_b {
                background-image: url("../images/REALTY/maintenance.jpg");
              }

              &.realEstate-invest__item-image-seven_b {
                background-image: url("../images/REALTY/vendor.jpg");
              }

              &.realEstate-invest__item-image-eight_b {
                background-image: url("../images/REALTY/evictionH.jpg");
              }

              &.realEstate-invest__item-image-nine_b {
                background-image: url("../images/REALTY/leased-premise.jpg");
              }

              &.realEstate-invest__item-image-nine_b {
                background-image: url("../images/REALTY/leased-premise.jpg");
              }

              &.realEstate-invest__item-image-ten_b {
                background-image: url("../images/REALTY/finance.jpg");
              }
            }

            & div.realEstate-invest__item-content {
              display: flex;
              flex-direction: row;
              max-width: 80%;
              margin-bottom: 1.5em;
              padding: 2em 0 0 0;

              & p {
                color: $dark;
                font-size: $xsmall-body-copy;
                font-family: "Ginto regular";
                font-weight: normal;
                font-weight: normal;
                margin-block-end: 0;
                margin-block-start: 0;
                text-align: center;
                text-transform: inherit;
              }
            }
          }
        }
      }
    }


  }
}

#realEstate-title__two {
  width: unset;
}

#realEstate-title {
  margin-top: 5rem;
  // margin-bottom: 1.5rem;
    justify-content: center;
  

}

#svg-Mobile-about_left {
  bottom: 1.4rem;
  background-image: url("../images/REALTY/mobile/drawable-mdpi/Group2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 55px;
  height: 85px;
  position: absolute;
  left: -1.4rem;
}

#svg-Mobile-invest {
  background-image: url("../images/REALTY/mobile/drawable-mdpi/Group2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 55px;
  height: 85px;
}

#svg-Mobile-invest_left {
  bottom: 5.4rem;
  background-image: url("../images/REALTY/mobile/drawable-mdpi/Group3.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 55px;
  height: 45px;
  position: absolute;
  right: -1.4rem;
  z-index: -1;

  @include for-tablet-portrait-only {
    right: -5rem;
    bottom: 13rem;
  }
  @media (min-width: 899px) {
    right: -10rem;
  }
}

#svg-Mobile-about_right {
  top: -1.4rem !important;

  @include for-tablet-portrait-only {
    top: 1.6rem!important;
  }   
}
.realEstate-header-content__btn {
  margin-left: 0!important;
  bottom: 0!important;
  left: unset!important;
  right: 0!important;

}
.realEstate-navbar {
  padding-top: 1.4rem;
}
.svg-Mobile-header_top {
  top: 11.5rem!important;
}
.realEstate-header-content {
  @media (min-width: 600px) {
    margin: 0 4rem 0 8rem!important;
    padding-left: unset!important;
  }
}